.col{
  margin: 0 15px;
  width: calc(33% - 30px);
  float: left;
}
@media screen and (max-width: 768px){
  .col{
    width: calc(50% - 30px);
  }
}
@media screen and (max-width: 550px){
  .col{
    width: 100%;
  }
}